/* YourComponent.scss */

.recipe-list-section {
  height: 85vh;
  padding: 1rem $section-padding;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .recipe-list-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .recipe-list-section-header-filters {
      display: flex;
      gap: 1rem;
    }
  }
  .recipe-list {
    height: 80%;
    overflow-y: auto;
  }
}
