.flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vertical-centered {
  align-items: center;
  justify-content: space-around;
}

.section {
  min-height: 85vh;
}
.nav-bar {
  position: fixed;
  padding: 1rem $section-padding !important;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 4;
  padding: 1rem;
}

.primary-color {
  color: $primary-color;
}

.primary-background {
  background-color: $green;
}
.black-background {
  background-color: $black;
}
.green-button {
  color: $black;
  background-color: $primary-color;
}
