$primary-color: #c1ff72;
$black: #000000;
$light-orange: rgba(255, 145, 77, 0.2);
$orange: rgb(255, 145, 77);
$light-green: rgba(126, 217, 87, 0.2);
$green: rgb(126, 217, 87);
$secondary-color: #2ecc71;
$font-family: "Poppins", sans-serif;
$font-size: 16px;
$section-padding: 3rem;
