:root {
  --primary: #c1ff72;
  --black: #000000;
  --secondary-color: #2ecc71;
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
}

html {
  font-family: "Poppins", sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
