.explore-section {
  background-color: $light-green;
  min-height: 88vh;
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .explore-section-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    .explore-section-card {
      flex: 1 1 300px;
      .explore-section-card-avatar {
        transform: translateY(-100%);
        background-color: $primary-color;
      }
      .green-button {
        margin-top: 1rem;
      }
    }
  }
}
